.button {
  background-color: rgb(199, 0, 66);
  color: white;
  font-weight: bold;
}

.button:hover {
  color: #ffd54f;
}

.page {
  flex: 1;
  height: 100%;
  background: linear-gradient(
    0deg, rgba(255, 0, 0, 0.3),
    rgba(255, 0, 150, 0.3)),
    url(../../assets/images/business-woman.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  
.details {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
  
