.item-block {
    position: relative;
    padding: 20px;
    margin: 10px;
    flex: 1 1 250px;
    border-radius: 12px;
    text-align: center;
    height: 250px;
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.item-block:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.item-block h2 {
    margin: 0;
    font-size: 1.7rem;
}

.item-block p {
    margin: 5px 0 0;
    font-size: 1rem;
}

.item-block .details {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s;
}

.item-block:hover .details {
    background-color: rgba(0, 0, 0, 0.8);
}

.item-block .quantity-controls {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item-block .quantity-btn {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.item-block .quantity-btn:hover {
    background-color: #dddddd;
}

.item-block .quantity-display {
    font-size: 1.2rem;
    color: white;
    padding: 2px 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    min-width: 30px;
    text-align: center;
}