.page h1 {
    background-color: rgb(255, 0, 55);
}

.page {
    padding: 10px;
    text-align: center;
    background: rgb(58, 2, 39);
}

.selection {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.total {
    background-color: rgb(255, 0, 55);
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 10px;
}