:root {

}

html, body, #root {
  height: 100%;
}

body {
  display: block !important;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.Main {
  flex: 1;
  overflow: auto;
}

h1, h2, p {
  margin-block: 0;
}

